body{
    font-family: Poppins,sans-serif;
}

.navbar{
    background-color: #04A6EB;
}

#logo {
    width: 250px;
}

.navbar-toggler{
    color: #FF6020;
    border-color: #FF6020;
    font-size: 2rem;
}

.btn, .input-group-text{
    background-color: #FF6020;
    color: #FFF;
}

.btn:hover{
    background-color: #FFF;
    color: #FF6020;
}