body {
    font-family: Poppins, sans-serif;
}

/* Barra de navegación */
.navbar {
    background-color: #04A6EB;
}

/* Logo Bsale */
#logo {
    width: 250px;
}

/* Icono menu colapsado */
.navbar-toggler {
    color: #FF6020;
    border-color: #FF6020;
    font-size: 2rem;
}

/* Botones */
.btn,
.input-group-text {
    background-color: #FF6020;
    color: #FFF;
}

.btn:hover {
    background-color: #FFF;
    color: #FF6020;
    border-color: #FF6020;
}

/* Precios de productos en las cartas */
.oldPrice {
    text-decoration: line-through;
    opacity: 0.5;
}

.newPrice,
.discount {
    color: #ff4d4d;
    font-size: 1.25em;
}

/* Checkbox chequeados */
.form-check-input:checked{
    background-color: #FF6020;
    border-color: #FF6020;
}

/* Cantidad de productos por filtro */
.quantity {
    opacity: 0.75;
}

/* Distribución de las cartas */
.card {
    animation: fadein 1s;
    width: 100%;
    -webkit-animation: fadein 1s;
}

.img {
    flex: 1 1 0;
}

.card-body {
    flex: 0;
}

/* Paginación */
.page-item.active .page-link{
    background-color: #FF6020;
    border-color: #FF6020;
}

.page-link, .page-link:hover {
    color: #FF6020;
}

/* Animación para la aparción de las cartas */
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}