body{
    font-family: Poppins,sans-serif;
}

.navbar{
    background-color: #04A6EB;
}

#logo {
    width: 250px;
}

.navbar-toggler{
    color: #FF6020;
    border-color: #FF6020;
    font-size: 2rem;
}

.btn, .input-group-text{
    background-color: #FF6020;
    color: #FFF;
}

.btn:hover{
    background-color: #FFF;
    color: #FF6020;
}

.oldPrice {
    text-decoration: line-through;
    opacity: 0.5;
}

.newPrice, .discount {
    color: #ff4d4d;
    font-size: 1.25em;
}

.quantity {
    opacity: 0.75;
}

.card{
    width: 100%;
}